[submodule "contract"]
    path = contract
    url = git://github.com/olahamid/contract.git
[submodule "my-dapp"]
    path = my-dapp
    url = git://github.com/olahamid/my-dapp.git
[submodule "new-contract/lib/forge-std"]
	path = new-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
